In [1]:
import pandas as pd
import json

matches = pd.read_csv("./Match.csv")
player = pd.read_csv("./Player.csv")
team = pd.read_csv("./Team.csv")
ballbyball = pd.read_csv("./Ball_by_Ball.csv", na_values=[""])
matches

FileNotFoundError: [Errno 2] File b'./Ball_by_Ball.csv' does not exist: b'./Ball_by_Ball.csv'

In [7]:
team

    Team_Id                    Team_Name Team_Short_Code
0         1        Kolkata Knight Riders             KKR
1         2  Royal Challengers Bangalore             RCB
2         3          Chennai Super Kings             CSK
3         4              Kings XI Punjab            KXIP
4         5             Rajasthan Royals              RR
5         6             Delhi Daredevils              DD
6         7               Mumbai Indians              MI
7         8              Deccan Chargers              DC
8         9         Kochi Tuskers Kerala             KTK
9        10                Pune Warriors              PW
10       11          Sunrisers Hyderabad             SRH
11       12      Rising Pune Supergiants             RPS
12       13                Gujarat Lions              GL

In [15]:
player

,Player_Id,Player_Name,DOB,Batting_Hand,Bowling_Skill,Country,Is_Umpire,Unnamed: 7
0,1,SC Ganguly,8-Jul-72,Left_Hand,Right-arm medium,India,0,NaN
1,2,BB McCullum,27-Sep-81,Right_Hand,Right-arm medium,New Zealand,0,NaN
2,3,RT Ponting,19-Dec-74,Right_Hand,Right-arm medium,Australia,0,NaN
3,4,DJ Hussey,15-Jul-77,Right_Hand,Right-arm offbreak,Australia,0,NaN
4,5,Mohammad Hafeez,17-Oct-80,Right_Hand,Right-arm offbreak,Pakistan,0,NaN
...,...,...,...,...,...,...,...,...
518,519,Subroto Das,NaN,NaN,NaN,India,1,NaN
519,520,K Srinivasan,NaN,NaN,NaN,India,1,NaN
520,521,VK Sharma,NaN,NaN,NaN,India,1,NaN
521,523,AV Wankhade,14-Mar-92,Right_Hand,NaN,India,0,NaN
522,524,B Aparajith,8-Jul-94,Right_Hand,Right-arm offbreak,India,0,NaN

In [16]:
ballbyball

,Match_Id,Innings_Id,Over_Id,Ball_Id,Team_Batting_Id,Team_Bowling_Id,Striker_Id,Striker_Batting_Position,Non_Striker_Id,Bowler_Id,Batsman_Scored,Extra_Type,Extra_Runs,Player_dissimal_Id,Dissimal_Type,Fielder_Id
0,335987,1,1,1,1,2,1,1,2,14,0,legbyes,1,,,
1,335987,1,1,2,1,2,2,2,1,14,0,,,,,
2,335987,1,1,3,1,2,2,2,1,14,0,wides,1,,,
3,335987,1,1,4,1,2,2,2,1,14,0,,,,,
4,335987,1,1,5,1,2,2,2,1,14,0,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136585,981024,2,20,2,2,11,369,6,434,299,2,,,,,
136586,981024,2,20,3,2,11,369,6,434,299,0,,,434,run out,183
136587,981024,2,20,4,2,11,140,9,369,299,0,legbyes,1,,,
136588,981024,2,20,5,2,11,369,6,140,299,1,,,,,
136589,981024,2,20,6,2,11,140,9,369,299,4,,,,,

In [13]:
# Team w max wins
team_names=team["Team_Name"]
team_ids=matches['Match_Winner_Id'].value_counts()
team_ids
win_count=[]
for key,value in team_ids.items():
    val={
        "team_name": team_names[key-1],
        "count": value
    }
    win_count.append(val)
    
print(win_count)
json_win = json.dumps(win_count)
text_file = open("team_wins.json", "w")
text_file.write(json_win)
text_file.close()

[{'team_name': 'Mumbai Indians', 'count': 80}, {'team_name': 'Chennai Super Kings', 'count': 79}, {'team_name': 'Royal Challengers Bangalore', 'count': 70}, {'team_name': 'Kolkata Knight Riders', 'count': 68}, {'team_name': 'Kings XI Punjab', 'count': 63}, {'team_name': 'Rajasthan Royals', 'count': 63}, {'team_name': 'Delhi Daredevils', 'count': 56}, {'team_name': 'Sunrisers Hyderabad', 'count': 34}, {'team_name': 'Deccan Chargers', 'count': 29}, {'team_name': 'Pune Warriors', 'count': 12}, {'team_name': 'Gujarat Lions', 'count': 9}, {'team_name': 'Kochi Tuskers Kerala', 'count': 6}, {'team_name': 'Rising Pune Supergiants', 'count': 5}]

In [20]:
#Players with max motm
player_names=player["Player_Name"]
motm_ids=matches["Man_Of_The_Match_Id"].value_counts()
motm_count=[]
for key,value in motm_ids.items():
    val={
        "player_name": player_names[key-1],
        "count": value
    }
    motm_count.append(val)

print(motm_count[:10])
json_win = json.dumps(motm_count[:10])
text_file = open("motm.json", "w")
text_file.write(json_win)
text_file.close()

[{'player_name': 'CH Gayle', 'count': 17}, {'player_name': 'YK Pathan', 'count': 16}, {'player_name': 'AB de Villiers', 'count': 15}, {'player_name': 'DA Warner', 'count': 14}, {'player_name': 'RG Sharma', 'count': 13}, {'player_name': 'SK Raina', 'count': 13}, {'player_name': 'AM Rahane', 'count': 12}, {'player_name': 'MS Dhoni', 'count': 12}, {'player_name': 'G Gambhir', 'count': 12}, {'player_name': 'MEK Hussey', 'count': 12}]

In [22]:
#teams with max toss wins
team_ids=matches["Toss_Winner_Id"].value_counts()
toss_count=[]
for key,value in team_ids.items():
    val={
        "team_name": team_names[key-1],
        "count": value
    }
    toss_count.append(val)

print(toss_count)
json_win = json.dumps(toss_count)
text_file = open("toss_win.json", "w")
text_file.write(json_win)
text_file.close()

[{'team_name': 'Mumbai Indians', 'count': 74}, {'team_name': 'Kolkata Knight Riders', 'count': 69}, {'team_name': 'Chennai Super Kings', 'count': 66}, {'team_name': 'Delhi Daredevils', 'count': 64}, {'team_name': 'Kings XI Punjab', 'count': 64}, {'team_name': 'Rajasthan Royals', 'count': 63}, {'team_name': 'Royal Challengers Bangalore', 'count': 61}, {'team_name': 'Deccan Chargers', 'count': 43}, {'team_name': 'Sunrisers Hyderabad', 'count': 30}, {'team_name': 'Pune Warriors', 'count': 20}, {'team_name': 'Gujarat Lions', 'count': 8}, {'team_name': 'Kochi Tuskers Kerala', 'count': 8}, {'team_name': 'Rising Pune Supergiants', 'count': 7}]

In [31]:
#win types
team_ids=matches.groupby('Win_Type')['Match_Id'].count()
res_count=[]
for key,value in team_ids.items():
    val={
        "win_type": key,
        "count": value
    }
    res_count.append(val)

print(res_count)
json_win = json.dumps(res_count)
text_file = open("win_type.json", "w")
text_file.write(json_win)
text_file.close()

[{'win_type': 'No Result', 'count': 3}, {'win_type': 'Tie', 'count': 6}, {'win_type': 'by runs', 'count': 261}, {'win_type': 'by wickets', 'count': 307}]

In [48]:
# Team with max boundaries
team_bounds=[]
for i in range(1,14):
    team_data=ballbyball[ballbyball['Team_Batting_Id']==i]
    td=team_data[(team_data['Batsman_Scored']!=None)]['Batsman_Scored']
    count=0
    for key, value in td.items():
        if value>="3":
            count+=1
    val={
        "team_name": team_names[i-1],
        "count": count
    }
    team_bounds.append(val)
    
team_bounds=sorted(team_bounds, key = lambda i: i['count'], reverse=True) 
print(team_bounds)
json_win = json.dumps(team_bounds)
text_file = open("team_bounds.json", "w")
text_file.write(json_win)
text_file.close()

[{'team_name': 'Mumbai Indians', 'count': 2764}, {'team_name': 'Royal Challengers Bangalore', 'count': 2750}, {'team_name': 'Kings XI Punjab', 'count': 2629}, {'team_name': 'Chennai Super Kings', 'count': 2588}, {'team_name': 'Delhi Daredevils', 'count': 2404}, {'team_name': 'Kolkata Knight Riders', 'count': 2372}, {'team_name': 'Rajasthan Royals', 'count': 2220}, {'team_name': 'Deccan Chargers', 'count': 1396}, {'team_name': 'Sunrisers Hyderabad', 'count': 1102}, {'team_name': 'Pune Warriors', 'count': 740}, {'team_name': 'Gujarat Lions', 'count': 311}, {'team_name': 'Rising Pune Supergiants', 'count': 246}, {'team_name': 'Kochi Tuskers Kerala', 'count': 229}]